opencv-contrib-python
ultralytics
albumentations
onnx
onnxruntime
pillow
scikit-image
tensorboard
jupyterlab
scipy
numba
imutils
imageio
imageio-ffmpeg
moviepy
kornia
timm
einops
torchmetrics
lightning
segmentation-models-pytorch
supervision
pycocotools
roboflow
label-studio-sdk
pytesseract
pyzbar
qrcode
shapely
networkx
tqdm
rich
pyyaml
